<div class='workspace'>
<h5 class="text-secondary">Сервисные работы</h5>
<div class='row'>
	{% include 'parts/workspace_tab.html' with color_class='dark' icon_class='fas fa-cog' title='Настройка' only %}

	{% include 'parts/workspace_tab.html' with color_class='dark' icon_class='fas fa-clipboard-check' title='Осмотр' only %}
	
	{% include 'parts/workspace_tab.html' with color_class='dark' icon_class='fas fa-tools' title='Ремонт' only %}
	
	{% include 'parts/workspace_tab.html' with color_class='dark' icon_class='fas fa-sync-alt' title='Замена' only %}
</div>
</div>
