{% extends 'base/base.html' %}

{% block content %}
    <div class="container text-dark py-4" style="max-width: 1000px"> 
        <h2 class="text-center">Документація</h2>

        <h4 class="mt-4 border-top text-secondary"> Контакти </h4>
        <div class="row" style="max-width: 600px"> 
            <div class="col-sm-6 d-lg-flex justify-content-left">
                <div class="text-nowrap">
                    <h5>Центральний офіс</h5>
                    <div>
                        <p>
                        <a href="https://owen.ua/">www.owen.ua</a> <br/> 
                        Тел.: +38 (057) 720-91-19 <br/>
                        Харків, вул. Гв. Широнінців, 3A <br/>
                        </p>
                    </div> 
                </div>
            </div>
            <div class="col-sm-6 d-lg-flex justify-content-left">
                <div class="text-nowrap">
                    <h5>Технічна підтримка</h5>
                    <div>
                        <p>
                        Тел.: +38 (057) 720-91-19 доб. 6495 <br/>
                        Моб.: +38 (067) 570-67-17 <br/> 
                        E-mail: <a href="mailto:e.kapitonov@owen.ua">d.voronin@owen.ua</a> <br/> 
                        </p> 
                    </div> 	
                </div>
            </div>
        </div>

        <h4 class="mt-4 border-top text-secondary"> Настанова користувача </h4>
        <p> Даний розділ тимчасово недоступний... </p>

    </div>
{% endblock %}