{% load static %}

<div class="fixed-top text-light">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top p-1">
        <div class="container p-0 base-content-width">
            <a class="navbar-brand pl-2" href="{% url 'logbook:workspace' %}">
                <span class="d-none d-md-inline">
                <img src="{% static 'base/img/logo-white.svg' %}" alt="Logo" style="height:30px;">
                </span>
                <span class='d-md-none' style="">
                    <img src="{% static 'base/img/logo-owen-white.svg' %}" alt="Logo" style="height:28px; margin-top: 1px; margin-bottom: 1px;">
                </span>
            </a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Журнал</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Справка</a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}?next={% url 'base:home' %}">Войти</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
</div>
<div class="" style="height: 50px"></div>


