{% load static %}

<div class="fixed-top text-light">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top p-1">
        <div class="container p-0 base-content-width">
            <!-- navbar brend -->
            <a class="navbar-brand pl-2" href="{% url 'logbook:home' %}">
                <span class="d-none d-md-inline">
                    <img src="{% static 'base/img/logo-white-ua.svg' %}" alt="Logo" style="height:30px;">
                </span>
                <span class='d-md-none'>
                    <img src="{% static 'base/img/logo-owen-white.svg' %}" alt="Logo" style="height:28px; margin-top: 1px; margin-bottom: 1px;">
                </span>
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <div class="border-top border-secondary d-sm-none mt-2"></div>
                <ul class="navbar-nav ml-auto pl-3">
                    <li class="nav-item d-sm-none">
                        <a class="nav-link" href="{% url 'logbook:home' %}">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logbook:log' %}">Журнал</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'docs' %}">Документація</a>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:logout' %}">Вийти</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:login' %}?next={% url 'logbook:home' %}">Увійти</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="" style="height: 50px"></div>


