{% extends 'base/base.html' %}
{% load custom_tags %}

{% block content %}

<div class='container p-5' style='min-height: 75vh; max-width: 700px;'> 
    {% if next %}
        {% if user.is_authenticated %}
        <h5>У Вас надостатньо прав для доступу до даної сторінки.</h5>
        {% else %}
        <h5>Увійдіть, щоб отримати доступ до даної сторінки.</h5>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_username">Ім'я користувача:</label>
            {{ form.username|add_classes:'form-control' }}
        </div>
       <div class="form-group">
            <label for="id_password">Пароль:</label>
            {{ form.password|add_classes:'form-control' }}
        </div>

        <button class="btn btn-primary" type="submit" value="login">Увійти</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {% if form.errors %}
    <p class='text-danger mt-3'>Ім'я користувача чи пароль вказані невірно. Спробуйте ще раз.</p>
    {% endif %}

</div>
{% endblock %}