<div class='workspace'>
<h5 class="text-secondary">Микроклимат в помещении</h5>
<div class='row'>
	{% include 'parts/workspace_tab.html' with color_class='warning' icon_class='fas fa-thermometer-three-quarters' title='Температура' only %}
	
	{% include 'parts/workspace_tab.html' with color_class='warning' icon_class='fas fa-tint' title='Влажность' only %}
	
	{% include 'parts/workspace_tab.html' with color_class='warning' icon_class='fab fa-cloudscale' title='СО2' only %}

	{% include 'parts/workspace_tab.html' with color_class='warning' icon_class='fab fa-cloudscale' title='NH3' only %}
</div>
</div>