<div class='workspace'>
<h5 class="text-secondary">Поголовье птицы</h5>
<div class='row'>
	{% include 'parts/workspace_tab.html' with color_class='success' icon_class='fas fa-kiwi-bird' title='Поголовье' only %}

	{% include 'parts/workspace_tab.html' with color_class='success' icon_class='fas fa-skull-crossbones' title='Падеж' only %}

	{% include 'parts/workspace_tab.html' with color_class='success' icon_class='fas fa-plus-circle' title='Добавлено' only %}

	{% include 'parts/workspace_tab.html' with color_class='success' icon_class='fas fa-minus-circle' title='Изьято' only %}

	{% include 'parts/workspace_tab.html' with color_class='success' icon_class='fas fa-arrow-alt-circle-right' title='Перемещение' only %}
</div>

<div class='row'>
	{% include 'parts/workspace_tab.html' with color_class='success' icon_class='fas fa-balance-scale' title='Вес' only %}

	{% include 'parts/workspace_tab.html' with color_class='success' icon_class='fas fa-feather' title='Однородность' only %}
</div>
</div>