<div class='workspace'>
<h5 class="text-secondary">Поголовье птицы</h5>
<div class='row'>
	<div class='col-4 col-md-3 col-lg-2 d-flex justify-content-center p-2'>
		<button class='ws-card btn btn-success text-center'>
			<div> <i class="fas fa-kiwi-bird" style='font-size:2.3em'></i> </br> <span>Поголовье</span> </div>
		</button>	
	</div>
	<div class='col-4 col-md-3 col-lg-2 d-flex justify-content-center p-2'>
		<button class='ws-card btn btn-success'>
			<div> <i class="fas fa-skull-crossbones" style='font-size:2.3em'></i> </br> <span>Падеж</span> </div>
		</button>	
	</div>
	<div class='col-4 col-md-3 col-lg-2 d-flex justify-content-center p-2'>
		<button class='ws-card btn btn-success'>
			<div> <i class="fas fa-plus-square" style='font-size:2.3em'></i> </br> <span>Добавлено</span> </div>
		</button>	
	</div>
	<div class='col-4 col-md-3 col-lg-2 d-flex justify-content-center p-2'>
		<button class='ws-card btn btn-success'>
			<div> <i class="fas fa-minus-square" style='font-size:2.3em'></i> </br> <span>Изьято</span> </div>
		</button>	
	</div>
	<div class='col-4 col-md-3 col-lg-2 d-flex justify-content-center p-2'>
		<button class='ws-card btn btn-success'>
			<div> <i class="fas fa-balance-scale" style='font-size:2.3em'></i> </br> <span>Вес</span> </div>
		</button>	
	</div>
	<div class='col-4 col-md-3 col-lg-2 d-flex justify-content-center p-2'>
		<button class='ws-card btn btn-success'>
			<div> <i class="fas fa-feather" style='font-size:2.3em'></i> </br> <span>Однородность</span> </div>
		</button>	
	</div>
</div>
</div>