{% extends 'base/base.html' %}

{% block content %}
<div class="table-responsive">
<table class="table table-hover table-striped table-sm mt-4">
    <thead class="thead-dark">
      <tr>
        <th class="pl-2">Дата та час</th>
        <th class="pl-2">Приміщення</th>
        <th class="pl-2">Параметр</th>
        <th class="pl-2">Значення</th>
      </tr>
    </thead>
    <tbody>
    {% for record in records %}
        <tr>
            <td class="text-nowrap pl-2"><b>{{ record.timestamp|time:"H:i" }}</b> {{ record.timestamp|date:"d-m-Y" }}</td>
            <td class="text-nowrap text-center">{{ record.room_number }}</td>
            <td class="text-nowrap pl-2">{{ record.data_title }}</td>
            <td class="pl-2">{{ record.data_value }}</td>
        </tr>
    {% empty %}
        <tr>
            <td>Для даного приміщення ще немає записів.</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}